<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.AccommodationMapper">

    <!-- 分页查询住宿列表 -->
    <select id="selectPage" resultType="com.example.springboot.entity.Accommodation">
        <![CDATA[
        SELECT * FROM `accommodation`
        ]]>
        <where>
            <if test="name != null and name != ''">
                <![CDATA[ AND name LIKE CONCAT('%', #{name}, '%') ]]>
            </if>
            <if test="scenicId != null">
                <![CDATA[ AND scenic_id = #{scenicId} ]]>
            </if>
            <if test="type != null and type != ''">
                <![CDATA[ AND type = #{type} ]]>
            </if>
            <if test="minPrice != null">
                <![CDATA[ AND price_range >= #{minPrice} ]]>
            </if>
            <if test="maxPrice != null">
                <![CDATA[ AND price_range <= #{maxPrice} ]]>
            </if>
            <if test="minRating != null">
                <![CDATA[ AND star_level >= #{minRating} ]]>
            </if>
        </where>
        <choose>
            <when test="sortBy == 'price_asc'">
                <![CDATA[ ORDER BY price_range ASC ]]>
            </when>
            <when test="sortBy == 'price_desc'">
                <![CDATA[ ORDER BY price_range DESC ]]>
            </when>
            <when test="sortBy == 'rating_desc'">
                <![CDATA[ ORDER BY star_level DESC ]]>
            </when>
            <otherwise>
                <![CDATA[ ORDER BY id ASC ]]>
            </otherwise>
        </choose>
        <![CDATA[ LIMIT #{offset}, #{size} ]]>
    </select>

    <!-- 统计住宿总数 -->
    <select id="count" resultType="java.lang.Long">
        <![CDATA[
        SELECT COUNT(*) FROM `accommodation`
        ]]>
        <where>
            <if test="name != null and name != ''">
                <![CDATA[ AND name LIKE CONCAT('%', #{name}, '%') ]]>
            </if>
            <if test="scenicId != null">
                <![CDATA[ AND scenic_id = #{scenicId} ]]>
            </if>
            <if test="type != null and type != ''">
                <![CDATA[ AND type = #{type} ]]>
            </if>
            <if test="minPrice != null">
                <![CDATA[ AND price_range >= #{minPrice} ]]>
            </if>
            <if test="maxPrice != null">
                <![CDATA[ AND price_range <= #{maxPrice} ]]>
            </if>
            <if test="minRating != null">
                <![CDATA[ AND star_level >= #{minRating} ]]>
            </if>
        </where>
    </select>

</mapper>